@charset "UTF-8";
.menu-list {
    width: 960px;
    min-height: 470px;
    padding: 15px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    background: #eee;
    position: relative;
  }
  .menu-list .menu-item {
    width: 220px;
    margin: 10px;
  }
  .menu-list .menu-item figure {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .menu-list .menu-item figure .menu-img {
    width: 60%;
    transition: 0.3s;
    padding-bottom: 10px;
  }
  .menu-list .menu-item figure .menu-img:hover {
    transform: scale(1.2);
  }
  .menu-list .menu-item figure .menu-title {
    margin-top: 10px;
    color: gray;
    font-size: 18px;
    font-weight: 700;
  }
  .menu-list .menu-item figure .menu-price {
    display: block;
    margin-top: 10px;
    color: orangered;
    font-size: 18px;
    font-weight: 700;
  }
  
  .btn-group {
    background: #eee;
    width: 960px;
    margin: 0 auto;
    position: relative;
    padding: 15px;
    display: flex;
    justify-content: center;
  }
  .btn-group button {
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    background: rgba(255, 99, 71, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: 700;
  }